/*!
 *    FileName:  a7.css
 *
 *      Author:  Keenan Srisaeng
 *        Date:  03/27/2021
 *
 * Description: unique selectors for formatting a7.html          
 *
 */

/* import the css from the index.css document for consistant formatting */
@import "index.css"; 

/* populate the rest of this document with the css code to format a7.html */

/* Address Book Form Styles */
#addrBook {
	text-align: center;
}
input {
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 10px;
    width: 40%;
    padding: 0.5em;
}

#button-group {
   margin-left: 31%;
   margin-right: 31%;
   width: 300px;
   text-align: center;
   display: flex;
   flex-direction: row;
}

#search-button {
 margin: 1em;
}

#show-all {
 margin: 1em;
}

/* Table Styles */

#dashboard-table {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 15%;
  margin-right: 15%;
  width: 75%;
  text-align: center;
}

#dashboard-table th {
  text-align: center;
  background-color: #4c87af;
  color: white;
}

#dashboard-table tr {
  background-color: #eeeeee;
}



